<div class="h-100 w-100 row m-0 home-container">
    <div class="col-12 p-0 row m-0 justify-content-center align-content-center">
        <div class="col-lg-5 p-3 pl-5 pr-5 shadow home-sub-container overflow-hidden rounded justify-content-center">
            <h4 class="text-center">The Wedding of </h4>
            <h1 class="text-center">Aidan Gaughan & Brianna Dickie</h1>
            <h4 class="text-center">Carton House, Maynooth, Co Kildare, Ireland</h4>
            <h5 class="text-center">August 21st 2020</h5>
        </div>
        <!-- <div class="col-7 p-0 pt-3 pb-3 m-0 overflow-hidden row justify-content-center align-content-center">
                <div class="col-2"></div>
                <app-image #image class="col-7 p-0 photo-frame"></app-image>
            <div class="col-3 row m-0 justify-content-center align-content-center">
                <button mat-raised-button color="primary" (click)="image.changeImage()">Show More!</button>
            </div>
        </div> -->
    </div>
</div>